::-webkit-input-placeholder {
    color: #d1d1d1;
}

::-moz-placeholder {
    color: #d1d1d1;
}

:-ms-input-placeholder {
    color: #d1d1d1;
}

::placeholder {
    color: #d1d1d1;
}

[v-cloak] {
    display: none;
}