<div class="home-section home-section--contrast">
    <div class="home-section__inner">
        <div class="home-scenes">
            <div class="row">
                <div class="col s12 m6 l3">
                    <a href="/register" title="<%= t("greet") %>">
                        <div class="home-scenes__item z-depth-1">
                            <div data-height="120"
                                data-async-load="<%= assetPath("images/other/scenes/add-account.svg") %>"
                            ></div>
                            <h2 class="home-scenes__item__text"><%= t("greet") %></h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>